:global {
  .tabs-nav {
    background-color: rgb(30, 31, 28);

    & .tabs-tab {
      float: left;
      padding: 10px 25px;
      color: rgb(204, 204, 199);
      font-size: 12px;
      cursor: pointer;
      background-color: rgb(52, 53, 47);
    }

    & .tabs-tab-active {
      color: #ccc;
      background-color: rgb(39, 40, 34);
    }
  }


  .tabs-content {
    margin-top: 15px;

    & .tabs-tabpane {
      display: none;
    }

    & .tabs-tabpane-active {
      display: block;
    }
  }
}